
#dot {
	
}

#dotsec {
	margin-left: 200px;
}

#dotthird {
	margin-left: 208px;
}

#dotfirst {
	margin-left: 60px;
}

#dotfour {
	margin-left: 270px;
	font-family: david;
	font-size: 25px;
	color: black;
}

#dotff {
	margin-left: 210px;
}

#cloudkek {
	padding-top: 1000px;
}

#kekw {
	padding-top: 450px;
	margin-left: 350px;
}